body{
    background-color: #0f4b83;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: #f0f0f0;
}
.container {
    display: inline-block;
    position: absolute;
    background-color: white;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    justify-content: right;
    flex-direction: column;
    max-width: 1000px;
    height: 600px;
    right: 175px;

}
img{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 45px;
    left: 350px;

}

ul{
    margin: 0px;
    background-image: linear-gradient(to top, #0f4b83, #32a4e6);
    box-shadow: 3px 2px 2px black;
}
ul .login{
    position: absolute;
    right: 65px; 
    top: 0px;
}

li{
    display: inline-block;
    font-weight: bold;
    font-size: large;
    color: black;
    padding: 15px;
    border-radius: 15px;
}

li:hover{
	background-color: #32a4e6;
	box-shadow: 3px 3px 10px rgba(50, 154, 240, 0.5);
}
header{
    padding: 0px;
}
form input{
    border-radius: 10px;
    width: 20%;
}
.botao{
    background-color: #ff9100;
    padding: 15px;
    border-radius: 15px;
    border: solid black 2px;
    width: 100px;
}
html{
    background-color: #0f4b83;
}
.nome{
    position: absolute;
    left: 90px;
}
.email{
    position: absolute;
    left: 90px;
}
.telefone{
    position: absolute;
    left: 90px;
}
