
body{
    background: linear-gradient(to bottom, rgb(62, 184, 233), #0f4b83);
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #f0f0f0;
}
.container {
    background-color: white;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 5px;
    border-color: #5e5f5f;
    padding: 20px;
    margin: auto;
    max-width: 1500px;
}
table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.teste{
    background-color: #f2f2f2;
}
th {
    background-color: #32a4e6;
    color: white;
}
ul{
    justify-content: center;
    padding-right: 40px;
	display: flex;
    align-items: center;
	margin: 0px;
	height: 50px;
	background-image: linear-gradient(to bottom, #0c51aade, #56afe200);
}

li{
	display: inline-block;
	font-weight: bold;
    font-size: large;
	color: #fff;
	padding: 10px;
}

li:hover{
	background-image: linear-gradient(to top, #888686, #0c0c0c );
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}